.editor-layout,
.editor .CodeMirror,
.mde-preview {
  background-color: #0e0e0e !important;
}

.sidebar-menu-item.active {
  color: var(--sidebar-menu-item-color-active) !important;
}

:root {
  --sidebar-background: #0e0e0e;
  --sidebar-sync-status-view-background: #0e0e0e;
  --note-list-bar-background: #0e0e0e;
  --editor-background: #0e0e0e;
  --scrollbar-thumb-background: #2e303e;
  --sidebar-scrollbar-thumb-background: #2e303e;
  --sidebar-scrollbar-track-background: #1b1b1b;
  --scrollbar-track-background: #1b1b1b;
  --sidebar-scrollbar-width: 2px;
  --scrollbar-width: 2px;
  --sidebar-menu-item-color-active: #f7f306;
  --note-list-view-item-active-color: #f7f306;
  --note-list-view-item-active-date-color: #f7f306;
}
